{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Sorry bud, that page does not exist (404)</h1>
        <p>Don't worry. I'm sure you'll find what you're looking for</p>
    </div>
{% endblock content %}