{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Sorry bud, something isn't right. And I'm not sure what it is (500)</h1>
        <p>Don't worry. I'm sure you'll find what you're looking for</p>
    </div>
{% endblock content %}